<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout :: head('Administrator')}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body th:replace="~{layout :: base(~{::section})}">
<section>
    <!-- Thymeleaf 템플릿 형태, bootstrap css를 이용하여... -->
    <h2>Dashboard</h2>
    <hr>
    <div>
        <p th:text="${counts.articles}"></p>
        <p th:text="${counts.sources}"></p>
        <p th:text="${counts.categories}"></p>
    </div>
</section>

</body>
</html>