<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head(title)">
    <meta charset="UTF-8">
    <title th:text="${title}">Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <link th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body th:fragment="base(content)">

<!-- GNB-->
<header th:replace="~{fragment/navbar :: navbar}"></header>

<div class="container-fluid">
    <div class="row">
        <nav th:replace="~{fragment/sidebar :: sidebar}"></nav>

        <main class="col-md-9 col-lg-10 px-md-4 ms-sm-auto">
            <th:block th:replace="${content}"></th:block>
        </main>
    </div>
</div>

<div th:fragment="bootstrap_script">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    <script th:src="@{/js/admin.js}"></script>
</div>
</body>
</html>