<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head(title)">
    <meta charset="UTF-8">
    <title th:text="${title}">Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body th:fragment="base(content)">
<!--<h1>Hello Spring Boot!</h1>-->
<!--<h2 th:if="${error}" th:text="|${error}|"></h2>-->
<!--<h2 th:unless="${error}" th:text="|${userid}(${age})님, 반갑습니다.|"></h2>-->
<!--<h2 th:text="${page} ? |${page} 페이지 입니다.| : ''"></h2>-->
<header th:replace="~{fragment/navbar :: navbar}"></header>

<main class="container my-3">
    <th:block th:replace="${content}"></th:block>
</main>

<div th:fragment="bootstrap_script">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</div>
</body>
</html>