<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout :: head('News Service')}">
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <div class="container my-5">
        <h1>News Home</h1>
        <div>
            <a class="btn btn-primary" th:href="@{/admin/category}">관리자 페이지</a>
        </div>
        <div th:if="${news != null}">
            <!-- 반복문 -->
            <div th:each="article : ${news.articles}">
                <div class="article-card">
                    <h2 th:text="${article.title}"></h2>
                    <p th:text="${article.description}"></p>
                    <img th:src="${article.urlToImage}"></img>
                    <a th:href="${article.url}" target="_blank">기사 보러가기</a>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="~{layout :: bootstrap_script}"></div>
</body>
</html>