<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout :: head('Administrator')}">
</head>
<body th:replace="~{layout :: base(~{::section})}">
<section>
<div>
    <h2>발행처</h2>
    <!-- 부트스트랩 이용하여 발행처 갱신 버튼 만들기 -> 버튼에 /inputSources 연결하기-->
    <a class="btn btn-primary mb-1" th:href="@{/admin/inputSources}" th:text="'발행처 갱신'">발행처 갱신</a>
</div>

    <div class="alert alert-primary" th:if="${error}">
        <p th:text="${error}"></p>
    </div>

<table class="table table-striped table-hover">
    <thead class="table-dark">
    <tr>
        <th scope="col">name</th>
        <th scope="col">description</th>
        <th scope="col">category</th>
        <th scope="col">country</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each=" src : ${sources}">
        <td>
            <a th:href="${src.url}" th:text="${src.name}" target="_blank"></a>
        </td>
        <td th:text="${src.description}"></td>
        <td th:text="${src.category}"></td>
        <td th:text="${src.country}"></td>
    </tr>
    </tbody>
</table>
</section>
<div th:replace="~{layout :: bootstrap_script}"></div>
</body>
</html>